header,
main,
.intro,
.article,
.stories,
aside,
footer,
.part,
.art {
    border: solid 1px green;
    margin: 5px 5px 5px 5px;
}

header,
footer {
    width: auto;
}

main {
    margin: auto;
    display: flex;

}

.stories {
    height: 500px;
    display: flex;

}

#type {
    display: flex;
    align-self: flex-end;
    flex-wrap: wrap;

}

.article {
    height: 130px;
    width: 500px;
    align-self: flex-end;
    text-align: center;

}

.art {
    height: 130px;
    text-align: center;
}

aside {
    height: 500px;
    width: 800px;
}

footer {
    display: flex;
    justify-content: space-around;
    padding: 25px;
}

.part {
    padding: 25px;
}

h1,
h2 {
    text-align: center;
}